<center>
<h1>The Current OS is {{ ansible_distribution }}</h1>
<h1>The Current Hostname is {{ ansible_hostname }}</h1>
<h1>The Current user is {{ username }}</h1>
<h2>The Current Location is {{ location }}</h2>
</center>

